<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IF Work Collection</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>ระบบบันทึกผลงาน</h1>
  </header>

  <main>
    <%- body %> <!-- ใช้ express-ejs-layouts -->
  </main>

  <footer>
    <p>&copy; 2025 IF Work Collection</p>
  </footer>
</body>
</html>
